{# {% if ea.crud.currentAction == 'index' or ea.crud.currentAction == 'detail' %} #}
{% if ea.crud.currentAction == 'index' %}

	{% if field.value|length > 0 %}
		<a class="btn btn-secondary" data-bs-target="#modal-{{ field.uniqueId }}" data-bs-toggle="modal" href="#"><i class="far fa-comment-alt"></i></a>

		<div class="modal fade" id="modal-{{ field.uniqueId }}" tabindex="-1" role="modal" aria-labelledby="modal-label-{{ field.uniqueId }}" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modal-label-{{ field.uniqueId }}">{{ field.label }}</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								{% block body %}{% endblock %}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-b" data-bs-dismiss="modal">Zavřít</button>
					</div>
				</div>
			</div>
		</div>
	{% else %}
        {% include "/admin/crud_fields/layout/_index_empty_field.html.twig" %}
	{% endif %}

{% else %}
	{{ field.value }}
{% endif %}